<div *ngIf="product" class="container product-detail">
  <mat-card>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="crop-image product-detail__image">
          <img [src]="product.image" [alt]="product.title" />
        </div>
      </div>
      <div class="col-sm-12 col-md-6 product-detail__info">
        <h2>{{ product.title }}</h2>
        <h4>{{ product.price | currency }}</h4>

        <p>Descripción: {{ product.description }}</p>
        <button (click)="createProduct()">Crear</button>
        <button (click)="updateProduct()">Update</button>
        <button (click)="deleteProduct()"></button>
      </div>
    </div>
  </mat-card>
</div>
