.crop-image {
  display: block;
  height: 400px;
  width: 100%;
  img {
    object-fit: contain;
    height: 100%;
    width: 80vh;
    object-position: center;
  }
}

.product-detail {
  &__image {
    background-color: #eee;
    border-radius: 6px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0 2rem;
  }
}
