<input type="text" [(ngModel)]="title"/>
{{title}}

<div *ngIf="1 == 2">
  Esto es un div true
</div>

<button (click)="addItem()">Add Item</button>

<ul>
  <li *ngIf="items.length === 0">La lista esta vacia</li>
  <li *ngFor="let name of items; index as i">
    {{name}} {{i}}
    <button (click)="deleteItem(i)">Delete</button>
  </li>
</ul>


<div *ngFor="let product of products">
  <div class="product">
    <img width="100" [src]="product.image" [alt]="product.title"/>
    <h3>{{ product.title}}</h3>
    <p>{{ product.price }}</p>
  </div>
</div>