<mat-toolbar color="accent">
  <mat-toolbar-row>
    <div class="row center-xs footer-row">
      <div class="row  col-xs-3  middle-xs  between-xs">
        <div class="footer-row__text">
          <span>Camilo Rivera 2020 all rights reserved</span>
          <span class="example-spacer"></span>
        </div>
        <div>
          <mat-icon
            class="example-icon"
            aria-hidden="false"
            aria-label="Example heart icon"
            >public</mat-icon
          >
          <mat-icon
            class="example-icon"
            aria-hidden="false"
            aria-label="Example delete icon"
            >person_add</mat-icon
          >
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
